.card {
    background-color: #0e2341;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.27),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    width: 19rem;
    height: 17rem;
    padding: 0.2rem 1.25rem 1rem 1.25rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.card:hover {
    /* background-color: #0c1d36; */
    background-color: #13294b;
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .cardTitle {
    color: var(--color-highlight);
}

.card:hover .cardDescription {
    color: #ccd6f6;
}

@media (max-width: 1024px) {
    .card {
      /* Adjust styles for a 2-column layout if needed */
    }
}

@media (max-width: 768px) {
.card {
    /* Adjust styles for a 1-column layout if needed */
}
}

.cardTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    color: #ccd6f6;
    margin-bottom: 1rem;
    margin-top:0;
}

.cardDescription {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8892b0;
}

/* Custom dot colors */
.slick-dots li button:before {
    color: #ccc !important;
}
  
.slick-dots li.slick-active button:before {
    color: var(--color-primary) !important;
}

.card:hover .icon {
    color: var(--color-highlight);
}

.date {
    font-family: 'Fira Code', monospace;
    font-size: 0.75rem;
    /* color: #a2abc5; */
    color: var(--color-highlight);
    margin-top: 1.5rem;
}

.footer {
    bottom: 1rem;
    position: absolute;
    opacity: 0.75;
}

.card:hover .footer {
    opacity: 1;
}