.header {
    margin: 0 auto;
    padding: 1.5rem 10rem; /* Example padding, adjust as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.27),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: top 0.25s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.visible {
    top: 0;
}

.hidden {
    top: -100%;
}

.navNumber {
    font-family: 'Fira Code', monospace;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: .75rem;
    color: var(--color-secondary);
    /* color:var(--color-primary); */
    transition: color 0.3s ease-in-out;
}

.navLink {
    /* color: #8892b0; Light text color */
    /* color: #c6ccdc; */
    /* color: var(--color-text-light); */
    color: white;
    text-decoration: none;
    margin-left: 1.5rem; /* Spacing between nav items */
    transition: color 0.3s ease-in-out;
    /* font-family: 'Fira Code', monospace; */
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: 600; */
    font-size: 1rem;
    cursor: pointer;
}

.navLink:hover {
    /* color: var(--color-primary); */
    /* color: var(--color-text-light); */
    color: white;
    font-weight: bold;
}

.navLink:hover .navNumber {
    color: var(--color-secondary);
    font-weight: bold;
    opacity: 1;
}

.noBoxShadow {
    box-shadow: none;
}