.header {
    margin: 0 auto;
    padding: 1.5rem 10rem; /* Example padding, adjust as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a192f; /* Dark background color */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.27),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: top 0.25s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.visible {
    top: 0;
}

.hidden {
    top: -100%;
}

.navNumber {
font-family: 'Fira Code', monospace;
font-size: .7rem;
color: #f2cd10; /* Light text color */
}

.navLink {
color: #8892b0; /* Light text color */
text-decoration: none;
margin-left: 1.2rem; /* Spacing between nav items */
font-weight: bold;
transition: color 0.3s ease-in-out;
font-family: 'Argon', sans-serif;
font-size: 1.1rem;
cursor: pointer;
}

.navLink:hover {
color: #ff6486; /* Highlight color on hover */
}
