@import url('utils.css');

.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
  margin-bottom: var(--size-gap);
}

.container {
  max-width: none;
  line-height: var(--line-height-loose);
  margin-bottom: var(--size-gap);
  display: flex;
  justify-content: space-between;
  background-color: #0a192f;
}

.container.about > div:nth-child(1) {
  width: 40%;
}

.container.about > div:nth-child(2) {
  width: 58%;
}

@media (max-width: 600px) { /* Adjust breakpoint as needed */
  .container {
      flex-direction: column;
  }

  .sideBySide {
      width: 100%;
  }
}

.imageContainer {
  border: solid 1px #e95800;
}

.aboutText {
  border: solid 1px #e95800;
}

.aboutText > h1 {
  color: #e95800;
  font-family: 'Argon', sans-serif;
  font-size: 6rem;
}

.aboutText > p {
  color: #eeeeeeeb;
  font-size: 0.85rem;
  font-family: 'Fira Code', monospace;
}

.sectionNumber {
  font-family: 'Fira Code', monospace;
  font-size: 1.25rem;
  color: #f2cd10; /* Light text color */
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: var(--space-1);
  font-family: 'Argon', sans-serif;
  color: #e95800;
}

.halfContainer {
  width: 50%;
  border: 1px solid #e95800;
}