.timelineContainer {
    display: flex;
    background-color: #091527;
    margin: var(--size-gutter);
    padding: var(--size-gutter);
    padding-left: 7rem;
    padding-right: 7rem;
    position: relative;
    align-items: flex-start;
    border-radius: 10px;
    /* sunken shadow */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}

.timelineList {
    flex-basis: 35%;
    border-left: 2px solid #ec8f55; 
    position: relative;
    list-style: none;
    /* padding: item; */
    padding: 0;
    margin: 0;
}

/* non active list item styles */
.listItem {
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-align: left;
    color: #8892b0;
    /* font-family: 'Quattrocento Sans', sans-serif; */
    font-family: 'Fira Code', monospace;
    font-size: 0.85rem;
    font-weight: 600;
    transition: font-size 0.15s, color 0.15s, transform 0.15s;
}

/* active list item style */
.listItem:hover {
    color: #e95800;
}

.listItemActive {
    color: #ec8f55;
    font-size: 0.95rem;
    transform: translateX(0.5rem);
    position: relative;
    font-family: 'Argon', sans-serif;
}

.listItemActive::before,
.listItemActive::after {
    content: '';
    position: absolute;
    left: -2px; /* Align this with the timeline's vertical line */
    background-color: #e9002f; /* Active item line color */
    width: 2px; /* Same width as the timeline border */
}

.listItemActive::before {
    content: '';
    position: absolute;
    left: -14px; /* Align this with the timeline's vertical line */
    top: 50%;
    transform: translateY(-50%);
    width: 10px; /* Circle size */
    height: 10px; /* Circle size */
    border-radius: 50%;
    background: #0a192f; /* Default background color */
    border: 2px solid #e95800; /* Default border color, change if needed */
    z-index: 1;
}

.timelineContent {
    /* width: 60%; */
    padding: 0 2rem;
    flex-grow: 1;
    font-family: 'Lato', sans-serif;
    color: #8892b0;
    font-weight: 300;
    border: solid 1px #e90000;
}